<?xml version="1.0"?>
<config><appname>Lassu, Inc. App</appname><version>0.0.1.0</version><provider>MySQL</provider><server>localhost</server><database>lassuloy_zumiez</database><usr>lassuloy</usr><pwd>55-48-48-107-99-64-108-98-119-101-110-85-83-83-65-76</pwd><max_exec_time>10800</max_exec_time><settings><session_timeout>15</session_timeout></settings></config>
